<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <%= link_to(root_path, class: "flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0") do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">mihasiEC</span>
    <% end %>

    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">
      <% if seller_signed_in? %>
  <%= link_to "ログアウト", destroy_seller_session_path, method: :delete, class: "mr-5 hover:text-gray-900" %>
<% elsif customer_signed_in? %>
  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "mr-5 hover:text-gray-900" %>
<% else %>
  <%= link_to "新規出品者", new_seller_registration_path, class: "mr-5 hover:text-gray-900" %>
  <%= link_to "出品者", new_seller_session_path, class: "mr-5 hover:text-gray-900" %>
  <%= link_to "新規ユーザー", new_customer_registration_path, class: "mr-5 hover:text-gray-900" %>
  <%= link_to "ユーザー", new_customer_session_path, class: "mr-5 hover:text-gray-900" %>
  <% end %>

  <div class="bag-icon">
    <%= link_to products_path, class: "p-4 relative border-2 border-transparent rounded-full focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out flex" do %>
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
    <% end %>
  </div>
  
  <li class='text-purple-500 no-underline'>
  <%= link_to cart_items_path, class: "p-4 relative border-2 border-transparent rounded-full focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out flex" do %>
    <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
      <path fill="white" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
    </svg>
  <% end %>

  <% if defined?(customer_signed_in?) && customer_signed_in? %>
    <span class="absolute top-0 right-0">
      <div class="inline-flex items-center px-1.5 py-0.4 border-2 border-white rounded-full text-xs font-semibold leading-4 bg-red-500 text-white">
        <%= defined?(current_customer) && current_customer.present? ? total_quantity(current_customer.cart_items) : nil %>
      </div>
    </span>
  <% end %>
</li>
<li class="px-4 no-underline">
  <%= link_to seller_products_path, class: "text-purple-500 hover:text-white" do %>
    <svg class="h-6 w-6 fill-current text-purple-500" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
      <path fill="currentColor" d="M11.5 23l-8.5-4.535v-3.953l5.4 3.122 3.1-3.406v8.772zm1-.001v-8.806l3.162 3.343 5.338-2.958v3.887l-8.5 4.534zm-10.339-10.125l-2.161-1.244 3-3.302-3-2.823 8.718-4.505 3.215 2.385 3.325-2.385 8.742 4.561-2.995 2.771 2.995 3.443-2.242 1.241v-.001l-5.903 3.27-3.348-3.541 7.416-3.962-7.922-4.372-7.923 4.372 7.422 3.937v.024l-3.297 3.622-5.203-3.008-.16-.092-.679-.393v.002z"/>
    </svg>
  <% end %>
</li>


<li class="px-4 text-white no-underline">
  <%= link_to seller_root_path, class: "text-purple-500 hover:text-white" do %>
    <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
      <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
    </svg>
  <% end %>
</li>



  
<div class="flex items-center">
  <div class="h-8 w-8 rounded-full bg-gray-300 flex items-center justify-center">
    <svg class="h-5 w-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 10h6m-3-3v6m5.2 9H3.8a2.2 2.2 0 01-2.2-2.2v-10a2.2 2.2 0 012.2-2.2h12.4a2.2 2.2 0 012.2 2.2v10a2.2 2.2 0 01-2.2 2.2z"/>
    </svg>
  </div>
  <% if customer_signed_in? %>
    <div class="relative ml-2">
      <button type="button" class="text-gray-700 flex items-center justify-between w-full px-4 py-2 text-sm leading-5 text-left focus:outline-none">
        <%= current_customer.name %>
        <svg class="h-4 w-4 text-gray-500 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
        </svg>
      </button>
      <div class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg">
        <%= link_to edit_customer_registration_path, class: "block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100" do %>
          Account settings
        <% end %>
        <%= link_to orders_path, class: "block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100" do %>
          Order Histories
        <% end %>
        <%= link_to destroy_customer_session_path, method: :delete, class: "block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100" do %>
          Logout
        <% end %>
      </div>
    </div>
  <% else %>
    <%= link_to new_customer_session_path, class: "ml-2 text-gray-700" do %>
      Login
    <% end %>
  <% end %>
</div>



</nav>
  </div>
</header>

    <%= yield %>

  </body>
</html>
<style>
   .bag-icon {
      width: 30px;
      height: 30px;
      background-color: purple;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transform: rotate(180deg);
    }
    
    .bag-icon::before {
      content: "";
      width: 18px;
      height: 18px;
      background-color: white;
      border-bottom: 4px solid purple;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 2px;
    }
    
    .bag-icon::after {
      content: "";
      width: 2px;
      height: 10px;
      background-color: purple;
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
    }
  </style>
